.c-code-container {
  display: inline-block;
  margin-top: 20px;
  background-color: rgba($color-3, .6);
  color: $white;
  font-size: 12px;
  line-height: 1.71;

  .c-code-container__box {

    &.-small {
      padding: 5px 10px;
    }

    &.-big {
      padding: 30px 20px;
    }

    .action-text {
      color: $color-6;
    }

    .variable-text {
      color: $color-4;
    }

    .value-text {
      color: $color-5;
    }
  }
}
