.c-header {
  position: relative;
  width: 100%;
  height: $header-height;
  z-index: 30;

  .columns {
    padding: 0;
  }

  .icon-logo {
    width: rem(150px);
    height: rem(54px);
  }

  .c-header__content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .c-nav {
    display: none;
  }

  @media screen and (min-width: $screen-l) {

    .c-burger-menu {
      display: none;
    }

    .c-nav {
      display: block;
    }
  }

  .c-header__open-menu {
    display: block;
    position: relative;
    right: rem(25px);
    cursor: pointer;

    img {
      width: rem(35px);
      max-width: none;
      height: rem(30px);
    }

    @media screen and (min-width: $screen-l) {
      display: none;
    }
  }
}
