.l-index {
  padding-right: rem(50px);
  padding-left: rem(50px);
  overflow-x: hidden;

  .l-index__search {
    max-width: rem(200px);
  }

  .tocify-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-1 * (230px + 50px));
    width: rem(280px);
    height: 100vh;
    margin-top: rem(142px);
    padding-right: 50px;
    padding-left: rem(50px);
    transition: left .4s ease-in-out;
    border-right: 1px solid rgba($black, .2);
    background-color: $color-1;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (min-width: $screen-xl) {
      left: 0;
      width: rem(230px);
      padding-right: 0;
      border-right: 0;
      background-color: transparent;
    }

    &.-fixed {
      position: fixed;
      margin-top: 0;
      padding-top: 50px;


      @media screen and (min-width: $screen-xl) {
        margin-top: rem(10px);
        padding-top: 0;
      }

    }

    .l-index__nav-section {
      margin-top: rem(34px);
      padding-left: rem(20px);

      &.-hidden {
        display: none;
      }

      .tocify-header {
        margin-bottom: rem(30px);
        padding-left: 0;
        list-style: none;

        &:last-of-type {
          margin-bottom: 0;
        }

        .tocify-item {
          a {
            color: $white;
            font-family: $font-family-2;
            font-size: $ff2-size-s;
            font-weight: $font-weight-semibold;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }
    }

    .tocify-subheader {
      display: none;
      padding-left: rem(20px);
      list-style: none;

      .tocify-item {
        margin-bottom: rem(10px);

        a {
          text-transform: none;
        }

        &:first-of-type {
          margin-top: rem(10px);
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .lang-selector-mobile {
      display: flex;
      flex-direction: row;
      min-width: 180px !important;
      max-width: 180px !important;
      height: rem(30px);
      max-height: rem(40px);
      margin-top: 0;
      margin-bottom: rem(10px);
      border-radius: rem(100px);
      background-color: rgba($color-3, .5);
      z-index: 40;

      &.-fixed {
        position: fixed;
        top: 0;
        margin-top: rem(10px);
      }

      a {
        display: flex;
        flex-basis: calc(100% / 3);
        align-items: center;
        justify-content: center;
        padding-right: rem(10px);
        padding-left: rem(10px);
        color: $white;
        font-family: $font-family-2;
        font-size: 10px;
        font-weight: $font-weight-semibold;
        line-height: 1.67;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
          border-radius: rem(100px);
          background-color: $white;
          color: $color-2;
        }
      }

      @media screen and (min-width: $screen-xl) {
        display: none;
      }
    }
  }

  .page-wrapper {
    position: relative;
    min-height: 100%;
    margin-left: 0;
    padding-bottom: rem(1px);
    z-index: 10;

    @media screen and (min-width: $screen-xl) {
      margin-left: rem(230px);
    }
  }

  #nav-button {
    display: block;
    position: absolute;
    top: rem(142px);
    left: 0;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: center;
    transition: left .3s ease-in-out;
    background-color: $white;
    color: $black;
    font-family: $font-family-2;
    font-weight: bold;
    line-height: rem(16px);
    text-decoration: none;
    opacity: 1;
    z-index: 100;

    @media (min-width: $screen-xl) {
      display: none;
    }

    span {
      display: block;
    }

    img {
      height: rem(22px);
      vertical-align: bottom;
    }

    &:hover { opacity: 1; }
    &.open {left: 280px}

    &.-fixed {
      position: fixed;
      top: 0;
    }
  }

  .search-results {
    position: relative;
    padding-left: rem(20px);
    background-color: rgba($color-3, .6);
    list-style: none;

    li {
      margin-top: rem(20px);
      font-family: $font-family-2;

      &:first-of-type {
        margin-top: 0;
        padding-top: 20px;
      }

      &:last-of-type {
        padding-bottom: 20px;
      }

      a {
        color: $white;
        font-family: $font-family-2;
      }
    }
  }
}

@media (max-width: $screen-xl) {
  .tocify-wrapper {
    left: -$nav-width;

    &.open {
      left: 0;
    }
  }

  .page-wrapper {
    margin-left: 0;
  }

  #nav-button {
    display: block;
  }

  .tocify-wrapper .tocify-item > a {
    padding-top: .3em;
    padding-bottom: .3em;
  }
}

@media (max-width: $screen-xl) {
  .dark-box {
    display: none;
  }
}

@media (max-width: $phone-width) {
  %left-col {
    margin-right: 0;
  }

  .tocify-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }
}
