.l-index {
  padding-right: rem(20px);
  padding-left: rem(20px);

  .l-index__search {
    max-width: rem(200px);
  }

  .tocify-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(230px);
    margin-top: rem(142px);
    padding-left: rem(20px);
    transition: left .3s ease-in-out;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;

    &.-fixed {
      position: fixed;
      margin-top: rem(10px);
    }

    .l-index__nav-section {
      margin-top: rem(34px);
      padding-left: rem(20px);

      .tocify-header {
        margin-bottom: rem(30px);
        padding-left: 0;
        list-style: none;

        &:last-of-type {
          margin-bottom: 0;
        }

        .tocify-item {
          a {
            color: $white;
            font-family: $font-family-2;
            font-size: $ff2-size-s;
            font-weight: $font-weight-semibold;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }
    }

    .tocify-subheader {
      display: none;
      padding-left: rem(20px);
      list-style: none;

      .tocify-item {
        margin-bottom: rem(10px);

        a {
          text-transform: none;
        }

        &:first-of-type {
          margin-top: rem(10px);
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .page-wrapper {
    position: relative;
    min-height: 100%;
    margin-left: rem(230px);
    padding-bottom: rem(1px);
    z-index: 10;
  }

  #nav-button {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5em 5em 0;
    transition: left .3s ease-in-out;
    color: $black;
    font-weight: bold;
    line-height: rem(16px);
    text-decoration: none;
    opacity: .7;
    z-index: 100;

    span {
      display: block;
      $side-pad: $main-padding / 2 - 8px;
      padding: $side-pad;
      transform: rotate(-90deg) translate(-100%, 0);
      transform-origin: 0 0;
      border-radius: 0 0 0 rem(5px);
    }

    img {
      height: rem(16px);
      vertical-align: bottom;
    }

    &:hover { opacity: 1; }
    &.open {left: $nav-width}
  }
}

@media (max-width: $tablet-width) {
  .tocify-wrapper {
    left: -$nav-width;

    &.open {
      left: 0;
    }
  }

  .page-wrapper {
    margin-left: 0;
  }

  #nav-button {
    display: block;
  }

  .tocify-wrapper .tocify-item > a {
    padding-top: .3em;
    padding-bottom: .3em;
  }
}

@media (max-width: $phone-width) {
  .dark-box {
    display: none;
  }

  %left-col {
    margin-right: 0;
  }

  .tocify-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }
}
