<div class="c-header">
   <div class="c-header__content row">
      <div class="small-3 columns">
         <a href="/">
           <%= image_tag('logo.svg') %>
         </a>
      </div>
      <div class="small-9 columns">
         <div class="c-nav">
            <ul>
               <li class="text -ff2-s -white"><a href="#">Documentation</a></li>
               <li class="text -ff2-s -white"><a href="#">Data explorer</a></li>
               <li class="text -ff2-s -white"><a href="/blog">Blog</a></li>
               <li class="text -ff2-s -white"><a href="/about">About</a></li>
            </ul>
         </div>
         <div class="c-burger-menu">
            <div>
               <div class="bm-overlay"></div>
               <div class="bm-menu-wrap">
                  <div class="bm-menu">
                     <nav class="bm-item-list">
                       <%= image_tag('logo.svg') %>
                        <ul style="display: block; outline: none;">
                           <li class="text -ff2-s -white"><a href="#">Documentation</a></li>
                           <li class="text -ff2-s -white"><a href="#">Data explorer</a></li>
                           <li class="text -ff2-s -white"><a href="/blog">Blog</a></li>
                           <li class="text -ff2-s -white"><a href="/about">About</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div>
                     <div class="bm-cross-button" >
                       <span>
                         <span class="bm-cross">
                         </span>
                         <span class="bm-cross">
                         </span>
                       </span>
                       <button>Close Menu
                       </button>
                     </div>
                  </div>
               </div>
               <div class="bm-burger-button">
                 <span>
                   <span class="bm-burger-bars">
                   </span>
                   <span class="bm-burger-bars">
                   </span>
                   <span class="bm-burger-bars">
                   </span>
                 </span>
                 <button>Open Menu</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
