<div class="c-header">
   <div class="c-header__content">
      <div class="small-3 columns">
         <a class="c-header__logo-desktop" href="http://radiant-e.herokuapp.com/">
           <%= image_tag('logo.svg') %>
         </a>
      </div>
      <div class="small-9 columns">
         <div class="c-nav">
            <ul>
               <li class="text -ff2-s -white -selected"><a href="#">API Documentation</a></li>
               <li class="text -ff2-s -white"><a href="http://radiant-e.herokuapp.com/blog">Blog</a></li>
               <li class="text -ff2-s -white"><a href="http://radiant-e.herokuapp.com/about">About</a></li>
            </ul>
         </div>
      </div>
      <div class="c-header__open-menu">
        <%= image_tag('menu.svg') %>
      </div>
   </div>
</div>
<div class="c-mobile-menu">
  <nav>
    <div class="c-mobile-menu__header">
      <%= image_tag('logo.svg') %>
      <div class="c-header__close-menu">
        <%= image_tag('close.svg') %>
      </div>
    </div>
     <ul style="display: block; outline: none;">
       <li class="text -ff2-s -white -selected -uppercase"><a href="#">API Documentation</a></li>
       <li class="text -ff2-s -white -uppercase"><a href="http://radiant-e.herokuapp.com/blog">Blog</a></li>
       <li class="text -ff2-s -white -uppercase"><a href="http://radiant-e.herokuapp.com/about">About</a></li>
     </ul>
  </nav>
</div>
